:root {
    --Nutmeg: hsl(14, 45%, 36%);
    --Dark-Raspberry: hsl(332, 51%, 32%);
    --White: hsl(0, 0%, 100%);
    --Rose-White: hsl(330, 100%, 98%);
    --Eggshell: hsl(30, 54%, 90%);
    --Light-Grey: hsl(30, 18%, 87%);
    --Wenge-Brown: hsl(30, 10%, 34%);
    --Dark-Charcoal: hsl(24, 5%, 18%);
}

@font-face {
    font-family: 'Outfit';
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf'); 
}

@font-face {
    font-family: 'Young-Serif';
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--Eggshell);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.column {
    background: var(--White);
    width: max(40%, 20em);
    border-radius: 15px;
}

img{
    border-radius: 10px;
    margin: 5%;
    width: 90%;
}

.card{
    background: var(--Rose-White);
    width: 90%;
    border-radius: 10px;
    margin-left: 5%;
    padding: 5px;
}

.card p{
    color: var(--Dark-Raspberry);
    font-weight: 600;
}

h1{
    color: var(--Dark-Charcoal);
}

h2 {
    color: var(--Nutmeg);
}


h1, h2, p, table{
    margin-left: 5%;
    width: 90%;
}

ol, ul{
    width: 90%;
}

h1, h2{
    font-family: 'Young-Serif';
    font-weight: 600;
}

p, ol, ul, table{
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 16px;
    color: var(--Wenge-Brown);
}

tr :nth-child(2n) {
    color: var(--Nutmeg);
    font-weight: 600;
}

td{
    border-bottom: 1px solid var(--Light-Grey);
}

hr{
    width: 90%;
    opacity: 40%;
    background-color: var(--Light-Grey);
}

ul li::marker{
    color: var(--Nutmeg);
}

ol li::marker{
    color: var(--Nutmeg);
}