/*
GENERAL
*/

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Cinzel:ital,wght@0,400..900;1,400..900&display=swap');

*{
    margin: 0;
}

body{
    background-image: url('/space-tourism-website-main/starter-code/assets/home/background-home-desktop.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: whitesmoke;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
}

:root{
    --text-color: #ffffff;
    --text-color-2: #A0A0A0;; 
    --text-color-3: #4DA9FF; 
}

/*
NAV BAR
*/

header{
    height: 15vh;
    padding: 45px 0 0 40px;
}

.flex-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    outline: 1px solid red;
}

.main-logo{
    background-image: url("/space-tourism-website-main/starter-code/assets/shared/logo.svg");
    background-size: contain;
    width: 50px;
    height: 50px;
}

nav{
    width: 70%;
    outline: 1px solid green;
    backdrop-filter: blur(3px);
    position: relative;
}


nav::after{
    content: '';
    position: absolute;
    width: 300px;
    height: 0.5px;
    background-color: white;
    top: 50%;
    left: -250px;
}
 

nav ul{
    height: 85px;
}

.nav-list{
    list-style-type: none;
    padding: 0;
    outline: 1px solid blue;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.list-item{
    display: inline-flex;
    outline: 1px solid yellow;
    height: inherit;
    box-sizing: border-box;
    align-items: center; 
}

.list-item:hover{
    border-bottom: 3px solid white;
}

nav a{
    text-decoration: none;
    color: white;
}

/*
LAYOUT
*/

section{
    padding: 250px 0;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.text-wrapper{
    width:  65%;
}

.planet-info{
    display: inline-block;
}



/*
TYPOGRAPHY
*/

h1{
    font-size: 8.8em;
    margin: 40px 0;
}

h2{
    font-size: 32px;
    font-weight: 400;
}

h3{
    font-size: 24px;
}

h1, h3{
    font-family: 'Cinzel', serif;
    font-weight: 200;
}

p{
    max-width: 500px;
    text-align: justify;
}

/*
BUTTONS
*/

.btn-lg{
    text-decoration: none;
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 280px;
    height: 280px;
    background-color: var(--text-color);
    text-transform: uppercase;
    color: black;
    outline: 90px solid rgba(249, 249, 249, 0);
    transition: outline-color 0.5s ease;
    cursor: pointer;
}

.btn-lg:hover{
    outline: 90px solid rgba(249, 249, 249, 0.3);
}
