@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    --Red: hsl(0, 78%, 62%);
    --Cyan: hsl(180, 62%, 55%);
    --Orange: hsl(34, 97%, 64%);
    --Blue: hsl(212, 86%, 64%);
    --Very-Dark-Blue: hsl(234, 12%, 34%);
    --Grayish-Blue: hsl(229, 6%, 66%);
    --Very-Light-Gray: hsl(0, 0%, 98%);
    --font: "Poppins";
    --weight-200: 200;
    --weight-400: 400;
    --weight-600: 600;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100%;
    background: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upper-div{
    max-width: 600px;
    min-width: 200px;
    text-align: center;
}

.lower-div{
    min-width: 200px;
    max-width: 600px;
    background: var(--Very-Light-Gray);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading-1{
    font-family: var(--font);
    font-weight: var(--weight-200);
    font-size: 25px;
    color: var(--Very-Dark-Blue);
}

.heading-2{
    font-family: var(--font);
    font-weight: var(--weight-600);
    font-size: 25px;
    color: var(--Very-Dark-Blue);  
    margin-top: -3%;  
}

.desc{
    font-family: var(--font);
    font-weight: var(--weight-400);
    font-size: 15px;
    color: var(--Grayish-Blue);
}

.card{
    width: 300px;
    height: 220px;
    border-top: 3px solid var(--Cyan);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 20px;
}

.orange-border{
    border-top-color: var(--Orange);
}

.cyan-border{
    border-top-color: var(--Cyan);
}

.red-border{
    border-top-color: var(--Red);
}

.icon{
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 15%;
    height: 25%;
    position: relative;
    margin-left: 13em;
    margin-top: 2em;
}

.icon-calc{
    background-image: url('images/icon-calculator.svg');
}

.icon-karma{
    background-image: url('images/icon-karma.svg');
}

.icon-sup{
    background-image: url('images/icon-supervisor.svg');
}

.icon-team{
    background-image: url('images/icon-team-builder.svg');
}

.card-title{
    font-family: var(--font);
    color: var(--Very-Dark-Blue);
    font-size: 20px;
    font-weight: var(--weight-600);
}

.card-par{
    font-family: var(--font);
    color: var(--Grayish-Blue);
    font-size: 13px;
    font-weight: var(--weight-400);
    width: 80%;
}

.card-title, .card-par{
    margin-left: 5%;
}

