:root {
    /*(Dark Mode Elements)*/
    --Blue-900: hsl(209, 23%, 22%);
    /*(Dark Mode Background)*/
    --Blue-950: hsl(207, 26%, 17%);
    /*(Light Mode Text)*/
    --Grey-950: hsl(200, 15%, 8%);
    /*(Light Mode Input)*/
    --Grey-400: hsl(0, 0%, 50%);
    /*(Light Mode Background)*/
    --Grey-50: hsl(0, 0%, 99%);
    /*(Dark Mode Text & Light Mode Elements)*/
    --White: hsl(0, 100%, 100%);
}

.dark-mode{
    background-color: var(--Blue-950);
    color: var(--White);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--White);
    min-width: 300px;
}

nav {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
    border-bottom: 1px solid red;
}

nav a {
    text-decoration: none;
    color: var(--Blue-900);
}

main {
    padding: 4rem 10%;
    background-color: var(--Grey-50);
}

.filters-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.previews-container{
    margin-top: 4rem;
    outline: 1px solid red;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    /*grid-template-columns: repeat(4, 1fr); */
}

.country-preview-el{
    height: 350px;
    border-radius: 7px;
    outline: 1px solid yellow;
}

.flag-img-div{
    width: 100%;
    height: 50%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: blue;
}

.country-preview-el p{
    margin-top: 0;
    line-height: 0.6;
}

.btn {
    padding: 12px 8px;
    border-radius: 10px;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    font-family: 'Nunito Sans', sans-serif;
}

.search-bar-span,
.filter-span{
    border-radius: 6px;
    padding: 10px 15px;
    box-shadow: 0px 0px 5px 0.3px hsla(0, 0%, 74%, 0.492);
    background-color: var(--White);
}

.search-bar-span input{
    border: none;
    outline: none;
    width: 200px;
    font-family: 'Nunito Sans', sans-serif;
}

.filter-span select{
    border: none;
    outline: none;
    font-family: "Nunito Sana", sans-serif;
}


@media (max-width: 775px){
    .filters-wrapper{
        flex-direction: column;
    }

    .filters-wrapper > *{
        width: 80%;
    }

    .filter-span{
        margin-top: 1rem;
    }
}
