@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root {
    --very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black-lightbox: hsla(0, 0%, 0%, 0.75);
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans';
}

.nav-bar {
    height: 15vh;
    width: 80%;
    margin: auto;
    border-bottom: 1px solid var(--black-lightbox);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-list, .nav-profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-list {
    padding-left: 0;
    list-style-type: none;
    width: 50%;
}

.nav-list li{
    cursor: pointer;
}

.nav-list li:hover{
    text-underline-offset: 2.4em;
    text-decoration: underline 3px var(--orange);
}

.logo {
    font-weight: 700;
    text-transform: lowercase;
}

.logo:hover{
    text-decoration: underline 3px transparent;
}

.cart-icon {
    background-image: url('images/icon-cart.svg');
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    background-size: contain;
}

.avatar {
    background-image: url('images/image-avatar.png');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-size: contain;
}

.avatar:hover{
    outline: 2px solid var(--orange);
    cursor: pointer;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/*  Product images */
.product-img{
    /**/
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    /**/
    border-radius: 15px;
    background-image: url('images/image-product-1.jpg');
    background-position: center;
    background-size: cover;
}

.sm-img-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sm-img{
    width: 100px;
    height: 100px;
    border-radius: 15px;
}

.section{
    height: 80vh;
    width: 80%;
    margin-left: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.section > *{
    flex-basis: 36%;
}

/* button */
.btn-div{
    display: flex;
    width: 100%;
}

.qty-btn{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    background: var(--light-grayish-blue);
    color: var(--very-dark-blue);
    border-radius: 15px;
    border: 0;
    padding: 10px 20px;
    width: 40%;
}


.qty-p, .qty-m{
    cursor: pointer;
}
/**/